@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap');
:root
{
  --condiv-flex:6;
  --fontsize-p:1.3rem;
  --fontsize-nav-open:2rem;
  --typing-font:3rem;
  --icon-size:4rem;
  --navbar-width:2;
  --secs: 0.4s;
}
*
{
  margin:0;
  padding: 0;
}
body
{
  font-family: 'Raleway';
}
.App
{
  display: flex;
  min-height: 100vh;
  min-width: 650px;
  background-image: url(img/needles.jpeg);
  background-size: cover;
}
a:visited
{
  color: white;
}

.navigation
{
  position: absolute;
  font-size: var(--fontsize-nav-open);
  
}
.navigation ul
{
  text-align: left;
  list-style-type: none;
  text-decoration: none;
}
.navigation li 
{
  margin: 0px 20px 30px 15px;
}
.navigation a:hover
{
  color: #d6d6d6;
}
.navigation a
{
  text-decoration: none;
  color: white;
}
.open 
{  
  min-height: 375px;
  min-width: 189.35px;
  background-color: #00000060;
  padding: 130px 0px 0px 0px;
  transition: all var(--secs);
  /*background: linear-gradient(180deg, rgb(32, 32, 32) 50%, rgb(90, 90, 90) 90%);*/
}
.closed 
{
  opacity: 0;
  padding: 120px 0px 0px 0px;
  transform: translateX(-400%);
  transition: all var(--secs);
}
.icon 
{ 
  padding: 10px 10px 10px 20px;
  width: var(--icon-size); 
  height: var(--icon-size);
  line-height: var(--icon-size); 
  font-size: var(--icon-size);
  user-select: none; 
  text-align: center;
  cursor: pointer;
  color: white;
  position: absolute;
  transform: rotate(90deg);
}
.icon:hover {
  background-color: #1a1a1ada;
  transition: all var(--secs);
}
.condiv
{
  padding: 15%;
  background-color: #00000086;
  flex:var(--condiv-flex);
  color: white;
}
.home
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.profilepic
{
  border-radius: 50%;
  width: 250px;
  margin: 30px;
  border-width: thin;
  border-color: rgba(24, 24, 24, 0.596);
  border-style: solid;
}
.typingeffect
{
  font-size: var(--typing-font);
  margin-bottom: 30px;
  color: white;
}
.subtopic
{
  margin:10px 10px 30px 10px !important;
}
p
{
  font-size: var(--fontsize-p);
}
h1,h2,h3,h4,p
{
  margin: 10px;
}
.social
{
  margin-top: 20px;
  display: flex;
  text-align: center;
}
.social i
{
  padding: 0px 10px 0px 10px;
  font-size: 25px;
  color: #e6e6e6;
}
.social i:hover
{
  color: #ffffff;
}
.widecard
{
  border:0px solid #9a9b9c;
  display: flex;
  margin:30px 0px 30px 0px;
}
.widecard:hover
{
  color: #1b1d20;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.active
{
  font-weight: bolder;
}
.skills ul li
{
  list-style-type:none;
  margin:20px;
  font-size: var(--fontsize-p);
}